/*                                                  Cabeçalho                                                   */

/* --- Importações --- */




/* --- Limpa Formatação --- */

a:link, a:visited, a:active {
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    text-decoration: none;
    color: aliceblue;
}


/* --- Variáveis do documento --- */

:root {
    --preto-dimmed: rgb(26, 26, 26);
}


/*                                              Fim do Cabeçalho                                                */

/*                                                   Corpo                                                      */

body {
    color: aliceblue;
    background-color: rgb(26, 26, 26);
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    background-image: linear-gradient(25deg, aliceblue 20%, rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
      
}

#container {
    margin-top: 50px;
    /* margin-left: 10px; */
    width: 325px;
    height: 350px;
}

.moedas-menu {
    border: solid 1px transparent;
    border-radius: 15px;
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;

    margin-right: 10px;

    background-color: rgb(35, 35, 35);
}

footer {
    display: flex;
    justify-content: end;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 8px;

    margin-top: 100px;
}
#github {
    background: url("../media/github_branco.png");
    background-size: 100%;
    width: 20px;
    height: 20px;
    margin-left: 40%;
}
#linkedin {
    background: url("../media/linkedin_branco.png");
    background-size: 100%;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    margin-top: 5px;
}