<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hipotamus - A open source smartnotes app</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/trynow.css') }}" type="text/css" media="screen" >
</head>
<body>
    <div id="container">
        <header>
            <h1>Hipotamus</h1>
            <!-- <h3>Take it easy</h3> -->
            <div id="toolbar">
                <a href="/">Home</a>
                <a href="/trynow" target="_self">Try Now</a>
                <a>Download</a>
                <a>FAQ</a>
            </div>
        </header>
        <section>
            <div id="load"></div>
        </section>
    </div>
    <footer> LongaRitmo Technologies | 2021 </footer>
    <script>

    </script>
</body>
</html>