<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hipotamus - A open source smartnotes app</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" type="text/css" media="screen" >
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index-m.css') }}" type="text/css" media="(max-width: 480px;)" >
</head>
<body>
    <div id="container">
        <header>
            <h1>Hipotamus</h1>
            <!-- <h3>Take it easy</h3> -->
            <div id="toolbar">
                <a href="/">Home</a>
                <a href="/trynow" target="_self">Try Now</a>
                <a href="/download" target="_self">Download</a>
                <a href="/faq" target="_self">FAQ</a>
            </div>
        </header>
        <section>
            <p><strong>Hipotamus</strong> is a smartnote app to <strong>organized</strong> your ideas</p>
            <p>Did you have <strong>to do</strong>? <strong>Where</strong> is you have to be?</p>
            <p>Brainstorm of <strong>ideas</strong> on your mind and <strong>work</strong> begings to be <strong>hard</strong>?</p>
            <p><strong>Drag out</strong> your troubles on <strong>Hipotamus</strong> and he <strong>resolve</strong>!</p>
        </section>
    </div>
    <footer>
        <h1>LongaRitmo Technologies - Copyleft since 2021</h1>
        <div id="github" class="icones-footer"></div>
        <div id="linkedin" class="icones-footer"></div>
        <div id="instagram" class="icones-footer"></div>
    </footer>
    <script>

    </script>
</body>
</html>