<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Boat</title>
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/inicio-m.css') }}" type="text/css" media="(max-width: 480px)">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/inicio.css') }}" type="text/css" media="screen">

    <style id="css">
    </style>

</head>
<body>
    <header>
        <h1>Crypto Boat</h1>
        <h3></h3>
        <a href="" _target=""></a>
        <a href="" _target=""></a>
        <a href="" _target=""></a>
        <a href="" _target=""></a>
    </header>
    <navbar>
        <!-- <a href="/moedas/bitcoin" target="frame" onmousedown="">Bitcoin</a> -->
        <a class="moedas-menu" onmousedown="geraGrafico('bitcoin',0)">Bitcoin</a>
        <a class="moedas-menu" onmousedown="geraGrafico('ethereum',1)">Ethereum</a>
        <a class="moedas-menu" onmousedown="geraGrafico('xrp',2)">XRP</a>
        <a class="moedas-menu" onmousedown="geraGrafico('litecoin',3)">Litecoin</a>
        <a class="moedas-menu" onmousedown="geraGrafico('eos',4)">EOS</a>
        <a class="moedas-menu" onmousedown="geraGrafico('cardano',5)">Cardano</a>
        <a class="moedas-menu" onmousedown="geraGrafico('binance_coin',6)">Binance coin</a>
        <!-- <a class="moedas-menu" onmousedown="geraGrafico('stellar_lumens',7)">Stellar lumens</a>
        <a class="moedas-menu" onmousedown="geraGrafico('chainlink',8)">Chainlink</a>
        <a class="moedas-menu" onmousedown="geraGrafico('neo',9)">NEO</a>
        <a class="moedas-menu" onmousedown="geraGrafico('reau',10)">$REAU</a> -->
    </navbar>
    <div id="container">
        <canvas id="grafico" width="400" height="400"></canvas>
    </div>
    <script src="{{ url_for('static',filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>
</html>